ion-content {
    
    // --background: url("../../../assets/bg-eolico-solar-01.svg")  no-repeat cover fixed center;
    // background: url("../../../assets/bg-eolico-solar-01.svg") no-repeat fixed center; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // background-size: cover;

    --ion-background-color: #eaeaea;

    .title-page{ 
        // color: #fff; 
        font-weight: bold;
    }
    .sub-title-page{
        --ion-background-color: #d0cdcd; 
        font-weight: bold;
    }

    ion-img.logo-portada {
         max-width: 80%;
         margin-left: 10%;
         margin-top: 10%;
    }

    ion-img.apoyo-giz {
        height: 14vh !important;
        width: auto !important;
        align-items: center;
    }
    ion-img.logo-enbolivia {
        height: 10vh !important;
        width: auto !important;
        align-items: center;
    }
 }