
ion-icon.ion-2x{
  position: relative;
  font-size: 2em;
}

ion-icon.ion-3x {
  position: relative;
  font-size: 3em;
}

ion-icon.ion-4x {
  position: relative;
  font-size: 4em;
}

ion-icon.ion-5x {
  position: relative;
  font-size: 5em;
}