<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Eólica - Solar
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item-divider >
    <ion-button color="light" shape="round" routerLink="/mapa-eolico" class="ion-margin-bottom">
      <ion-icon name="arrow-back-outline"></ion-icon>
      Volver al mapa
    </ion-button>  
  </ion-item-divider>

	<ion-item lines="none" class="sub-title-page">
		<ion-label>
			<div class="ion-text-center">
				Gráfico - Curva de Weibull
			</div> 
		</ion-label>
	</ion-item>

	<div class="ion-text-center ">
    	<ion-img class="image-report" src="/assets/weibull.jpg"></ion-img>
  </div>

  	<div class="ion-text-center ion-margin-bottom ion-margin-top">
	    	<ion-button color="light" shape="round" size="full" routerLink="/mapa-eolico">
	    		<!-- <ion-icon slot="start" name="download-outline"></ion-icon> -->
				<ion-icon slot="start" name="cloud-download-outline"></ion-icon>
				Descargar en PDF
	        </ion-button>
  	</div>

</ion-content>
