<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      Eólica - Solar
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

	<!-- <ion-list class="ion-no-padding">
	    <ion-list-header color="tertiary">
	      <div class="ion-text-center">
	        SOBRE LA APLICACIÓN
	      </div>
	    </ion-list-header>
	</ion-list> -->

	<ion-item color="transparent" lines="none" class="title-page">
		<ion-label>
			<div class="ion-text-center">
				SOBRE LA APLICACIÓN
			</div> 
		</ion-label>
	</ion-item>

	<div class="ion-text-center ">
    	<ion-img class="logo-portada" src="/assets/logobolivia.png"></ion-img>
  	</div>

	<div class="ion-text-center ion-margin-top ion-padding">
	    <p>Aplicación para dispositivos móviles, que permite, mediante geolocalización el acceso a mapas y reportes en línea del potencial de generación de energía mediante las fuentes altenátivas y solar en Bolivia</p>
	    <p>Copyright © 2020</p>
  	</div>

  	<div class="ion-text-center ion-margin-bottom ion-margin-top">
	    <ion-button color="light" shape="round" size="" routerLink="/inicio">
	      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
	      Ingresar
	      <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
	    </ion-button>
  	</div>

</ion-content>
