<ion-header>
  <ion-toolbar>
    <ion-title>Leyendas</ion-title>
    <ion-buttons slot="end">
	    <ion-button (click)="SalirModal()">Cerrar</ion-button>
	  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<!-- <section>
		<ion-img class="img-leyenda" src="/assets/ejemplo-leyenda.png"></ion-img>
	</section> -->

	<ion-card> 
	    <ion-card-content> 
	    	<div class="ion-text-center ">
				<img src="/assets/ejemplo-leyenda2.jpg" alt=""> 
				<!-- <img src="https://cors-anywhere.herokuapp.com/http://sigvmeea.minenergias.gob.bo/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&STRICT=false&style=geonode_SPD40M_BOL" alt="" crossOrigin>  -->
			</div>
	    </ion-card-content> 
    </ion-card>

</ion-content>
